@model ProjectContentManager.Models.FilesViewModel

@{
    ViewBag.Title = "ManejadorArchivos";
    var categoryId = Model.CategoryId;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Subir Archivo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li>
                <a>Manejador de Archivo</a>
            </li>
            <li>
                <a>Subir archivos</a>
            </li>
            <li class="active">
                <strong>@Model.CategoryName</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de Archivos</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Crear nuevo", "Create", new { id = categoryId }, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped">
                        <tr>
                            <th>
                                Categoría
                            </th>
                            <th>
                                Nombre o Título
                            </th>
                            <th>
                                Año | Mes
                            </th>
                            <th>
                                Observaciones o Comentarios
                            </th>
                            <th>
                                Archivo
                            </th>

                            <th></th>
                        </tr>
                        @if (Model.Files != null)
                        {
                            foreach (var item in Model.Files)
                            {
                                <tr>
                                    <td>
                                        @if (item.Category != null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Path)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Year) | @Html.DisplayFor(modelItem => item.Month)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comments)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Descargar", "DownloadFile", new { id = item.ContentId })
                                    </td>

                                    <td>
                                        @Html.ActionLink("Modificar", "Edit", "FileManager", new { id = item.CategoryId, contentId = item.ContentId }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Eliminar", "Delete", "FileManager", new { id = item.CategoryId, contentId = item.ContentId }, new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
